h3{text-align: right;}
h2{font-size: 18px;}
h4 {text-indent: 50px;font-size: 18px;}
h6{color: cornflowerblue;text-indent: 50px;font-size: 15px}
p{font-size: 14px;}
h1{font-size:18px;}
body{text-indent: 50px;}
li{font-size:14px}
img{text-indent: 50px}